<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/quiz.css"/>
    <title>Start</title>
</head>
  <body>
    <h3><%= user1[0] %>'s Score :</h3>
    <h3><%= user1[1] %></h3>
    <br>
    <h3><%= user2[0] %>'s Score :</h3>
    <h3><%= user2[1] %> </h3>
    
    <h1>Winner : <%= winner %></h1>
    <div> 
      <a id="start" href='/start'>
        <button id="next_btn" class="btn-success">Next</button>
      </a>
    </div>
    <script>
      
    </script>
  </body>
</html>